<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seek.food.interaction.Mapper.LikeMapper">
    <insert id="syncLike">
        insert into like_connection (aim_id,account_id,type,is_like)
        values( #{aimId} ,#{ownId},#{type},#{value}) on duplicate key update is_like=#{value},update_time=now()
    </insert>
</mapper>