<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seek.food.meal.Mapper.MealMapper">

    <!-- 全局统一字段映射 -->
    <resultMap id="MealResultMap" type="com.seek.food.dto.Meal.MealDTO">
        <result property="sell" column="is_sell" />
        <result property="lock" column="is_lock" />
        <result property="delete" column="is_delete" />
    </resultMap>

<!--    新增餐品-->
    <insert id="insertMeal">
        insert into meal (meal_id,merchant_id,meal_name,meal_price,meal_content)
        values(#{mealId},#{merchantId},#{mealName},#{mealPrice},#{mealContent});
    </insert>

<!--    获取餐品预览-->
    <select id="getSimple" resultMap="MealResultMap">
        select
            meal_id,
            merchant_id,
            meal_name,
            meal_price,
            meal_show_image_addr,
            meal_type,
            is_sell
        from meal
        where merchant_id=#{merchantId} and is_delete=false limit #{start},#{need}
    </select>

    <!--    根据类型获取餐品预览-->
    <select id="getSimpleByType" resultMap="MealResultMap">
        select
            meal_id,
            merchant_id,
            meal_name,
            meal_price,
            meal_show_image_addr,
            meal_type,
            is_sell
        from meal
        where merchant_id=#{merchantId} and meal_type=#{type} and is_delete=false limit #{start},#{need}
    </select>

    <select id="getDetail" resultMap="MealResultMap">
        select
            meal_id,
            merchant_id,
            meal_name,
            meal_price,
            meal_last_price,
            meal_description,
            meal_show_image_addr,
            meal_content,
            meal_type,
            meal_sales_volume,
            next_discount_time,
            create_time,
            is_sell
        from meal
        where meal_id=#{mealId} and is_delete=false
    </select>

<!--    更新餐品信息-->
    <update id="updateMealMessage">
        update meal
        <set>
            <if test="mealName!=null">meal_name=#{mealName},</if>
            <if test="mealDescription!=null">meal_description=#{mealDescription},</if>
            <if test="mealContent!=null">meal_content=#{mealContent},</if>
            <if test="mealType!=null">meal_type=#{mealType},</if>
            <if test="nextDiscountTime!=null">next_discount_time=#{nextDiscountTime},</if>
        </set>
        where meal_id=#{mealId} and merchant_id=#{merchantId} and is_delete=false
    </update>

    <update id="updateShowImage">
        update meal set meal_show_image_addr=#{addr}
        where meal_id=#{mealId} and merchant_id=#{merchantId} and is_delete=false
        and meal_show_image_addr
        <if test="oldAddr!=null">=#{oldAddr}</if>
        <if test="oldAddr==null"> is null</if>
    </update>

    <select id="getShowImageAddr" resultType="java.lang.String">
        select meal_show_image_addr from meal
        where meal_id=#{mealId} and is_delete=false
    </select>

    <select id="getShowImageAddrAfterDelete" resultType="java.lang.String">
        select meal_show_image_addr from meal
        where meal_id=#{mealId} and is_delete=true
    </select>

    <select id="getAllShowImageAddrAfterDelete" resultType="java.lang.String">
        select meal_show_image_addr from meal
        where merchant_id=#{merchantId} and is_delete=true
    </select>

    <update id="updatePrice">
        update meal set meal_last_price=meal_price,meal_price=#{price}
        where meal_id=#{mealId} and merchant_id=#{merchantId} and is_delete=false
    </update>

    <update id="updateSell">
        update meal set is_sell=1-is_sell
        where meal_id=#{mealId} and merchant_id=#{merchantId} and is_delete=false
    </update>

    <update id="deleteMeal">
        update meal set is_delete=true
        where meal_id=#{mealId} and merchant_id=#{merchantId} and is_delete=false
    </update>

    <update id="deleteAllMeal">
        update meal set is_delete=true
        where merchant_id=#{merchantId} and is_delete=false
    </update>

    <update id="updateSalesVolume">
        update meal set meal_sales_volume=meal_sales_volume+#{changeNumber} where meal_id=#{mealId} and is_delete=false
    </update>


















</mapper>