<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seek.food.rider.Mapper.LoginMapper">

    <!-- 全局统一字段映射 -->
    <resultMap id="RiderResultMap" type="com.seek.food.dto.Rider.RiderDTO">
        <result property="delete" column="is_delete" />
    </resultMap>

    <select id="loginByPhone" resultMap="RiderResultMap">
        select
         rider_id,
         rider_name,
         rider_sex,
         create_time,
         is_delete
        from rider where rider_phone_number=#{phoneNumber} and is_delete=false
    </select>

    <select id="loginByPassword">
        select
         rider_id,
         rider_name,
         rider_sex,
         create_time,
         is_delete
        from rider where rider_phone_number=#{phoneNumber} and rider_password=#{password} and is_delete=false
    </select>

</mapper>